/* CSS Document */

	.body{ width:100%; background:#f0efee;}
	.header_body{width:1200px; height:60px; margin:0 auto;}
	.logo,.master{float:left; height:40px; margin-top:10px; margin-left:40px;}
	.master .hn-meun{ /**/display:none;}
	.na_v{height:40px; float:right; }
	.nv-link{ float:left; margin-right:10px;margin-top:10px;}
	.nw_link{ width:120px; height:30px;background:#2fa8ec;  line-height:30px; color:#fff; text-align:center; border-radius:10px 0; position:relative; cursor:pointer;}
	.nw_link:hover{background:#3498DB;}
	.nv-link ul{ width:120px; position:absolute; top:50px; left:315px;}
	.nv-link ul .hover{ display:block;}
	.nv-link ul li{ width:120px; height:30px; display:none; margin-bottom:5px; z-index:9999;}
	.nv-link ul li a{ background:#2fa8ec; display:inline-block; width:100%; height:100%; line-height:30px; color:#fff; text-align:center; border-radius:10px 0;}
	.nv-link ul li a:hover{ background:#3498DB; text-decoration:none;}
	.master{width:120px;}
	.master ul{ display:none;}
	.na_v ul{width:600px; height:40px; border-radius:30px; overflow:hidden;background: #3498DB; margin-right:40px;margin-top:10px;}
	.na_v ul li{ float:left; width:100px; height:40px;}
	.na_v ul li a{ display:block; width:100%; height:100%; text-align:center; line-height:40px; color: #fff;}
	.na_v ul li a:hover{ background: #3755ad;text-decoration:none;}
	.bgcolor-1 { background: #f0efee; }
	.bgcolor-2 { background: #f9f9f9; }
	.bgcolor-3 { background: #e8e8e8; }/*light grey*/
	.bgcolor-4 { background: #2f3238; color: #fff; }/*Dark grey*/
	.bgcolor-5 { background: #df6659; color: #521e18; }/*pink1*/
	.bgcolor-6 { background: #2fa8ec; }/*sky blue*/
	.bgcolor-7 { background: #d0d6d6; }/*White tea*/
	.bgcolor-8 { background: #3d4444; color: #fff; }/*Dark grey2*/
	.bgcolor-9 { background: #ef3f52; color: #fff;}/*pink2*/
	.bgcolor-10{ background: #64448f; color: #fff;}/*Violet*/
	.bgcolor-11{ background: #3755ad; color: #fff;}/*dark blue*/
	.bgcolor-12{ background: #3498DB; color: #fff;}/*light blue*/
	.main,.foot{ width:1200px; margin:0 auto;}
	.main-page{ margin-top:10px; background:#FFF; height:30px; line-height:30px;}
	.main-page span{float:right; width:120px; height:30px; line-height:30px; text-align:center; background:#2fa8ec; color:#fff; cursor:pointer; font-size:14px; border-radius:0px 10px;}
	.main-page span:hover{ background:#3498DB;}
	.page-riji{ margin-top:10px;}
	.main dl{ height:100px; width:100%;}
	.main dl dt,.main dl dd{ height:100%;}
	.main dl dt{ line-height:100px; position:relative;}
	.main dl dd{ vertical-align:middle; line-height:30px;padding-left:30px; padding-right:30px; color:#999;}
	.main ul a:hover{ text-decoration:none;}
	.span{ width:140px; height:50px; border-radius:0 30px; background:#FD8F35; font-size:20px; padding:10px;}
	.pagein-right{ margin-right:30px; margin-left:900px;}
	.dl-horizontal dd{line-height:24px;padding:0 20px 20px ; position:relative; background:#FFF; border-radius:20px;}
	.dl-horizontal dd::before {content: "";width:0px;height:0px;border-style:solid;border-width:0px 20px 22px 0px;border-color:transparent #fff transparent transparent;position:absolute;left:-20px;top:40px; }/* 三角形 */
	.dl-horizontal dd::after {content: "";width: 10px;height: 10px;border-radius: 50%;position:absolute;left:-30px;top:40px;background:#CCCCCE;border: 2px solid #fff;transition:all 0.5s; }/* 圆形 */
	.dl-horizontal dd:hover::before {border-color:transparent #CECCCD transparent  transparent}/* 三角形 */
	.dl-horizontal dd:hover::after {border:#fff 2px solid;background:#999; }/* 圆形 */
	/*尾部开始*/
	.foot{ height:30px; width:1200px; margin:0 auto; background:rgba(111,111,111,1.00);border-radius:90px;}
	.foot p{ line-height:30px; text-align:center; width:100%; line-height:30px; color:#FFFFFF;}